/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=PT+Serif&family=Rufina&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=PT+Serif&family=Rufina&family=Satisfy&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Karma&family=PT+Serif&family=Rufina&family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Karma&family=PT+Serif&family=Roboto+Slab&family=Rufina&family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  font-family: 'Rufina', serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 18px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: black;
  /* border-radius: 25px; */
}
::-webkit-scrollbar-thumb{
  background-color: lightgray;
  border-radius: 20px;
}

.loginContainer{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 7px rgb(150, 150, 150);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.loginOuterBox{
  /* background: url("https://source.unsplash.com/1600x900/?nature,water"); */
  /* background: rgb(70, 70, 70); */
  /* background: url("./components/images/pexels-roman-odintsov-4871011.jpg"); */
  /* background: url("./components/images/w2.jpg"); */
  /* background: linear-gradient(-125deg,#e3b448,gray,#3a6b35); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 100vh;
  background-size: 400% 400%;
  animation: grad 10s ease infinite;
}
@keyframes grad{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


.HomePageBackground{
  width: 100%;
  font-family: 'Alfa Slab One', cursive;
  background-image: url("./components/images/w2.jpg");
  /* height: 100vh; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit:contain; */

}
.boldFont{
  font-family: 'Alfa Slab One', cursive;
}
/* .customDot{
  color:white;
 background-color:rgb(197, 197, 197);

} */
/* .itemClassDot{
background-color: black;
color: white;
} */
.icons{
  filter: invert(1);
}
.navFont{
  font-family: 'Karma', serif;
  /* font-family: 'Satisfy', cursive; */
  /* letter-spacing: 2px; */
}
.roboto{
  font-family: 'Roboto Slab', serif;

}
.underline{
  text-decoration: underline;
}